@font-face {
    font-family: 'TheSans';
    src: url('TheSans-B7Bold.woff2') format('woff2'),
        url('TheSans-B7Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

